
@{
    ViewBag.Title = "FormView";
}

<h2>Registration Successful</h2>

<h3>@TempData["name"]</h3>
<h3>@TempData["id"]</h3>
<h3>@TempData["gender"]</h3>
<h3>@TempData["email"]</h3>
<h3>@TempData["dob"]</h3>

